@model IEnumerable<DataAccessLayer.Models.Employee>

@{
    ViewData["Title"] = "CreateEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Employee List</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Mobile</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.EmpAge</td>
                <td>@employee.Mobile</td>
                
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create</a>
</p>
